* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

button {
    margin: 10px;
    font-weight: bold;
}

nav {
    background-color: #030303;
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60%;
    grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
    column-gap: 10%;
    padding: 0% 5%;
}

nav .array-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    place-content: center;
    padding: 5% 0%;
}

nav .array-inputs #a_size {
    padding: 5% 0%;
}

nav .array-inputs #a_speed {
    padding: 5% 0%;
}

nav .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

nav .header_right .nav-heading {
    display: inline-block;
    padding: 3% 0%;
}

button:hover {
    background-color: blue;
    cursor: pointer;
}

nav .header_right .algos .button {
    background-color: transparent;
    cursor: pointer;
}

nav .header_right .algos .button:hover {
    background-color: transparent;
    cursor: pointer;
}

nav .header_right .algos .button {
    background-color: white;
    color: green;
}

nav .header_right .algos .button:hover {
    background-color: white;
    cursor: pointer;
}

section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
}

section #Info_Cont1 {
    padding: 20%;
}

section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
}

section #Info_Cont2 {
    padding: 20%;
}


/*
@media (max-width: 480px)//Mobiles
{

}
@media (min-width: 481px) and (max-width: 1250px)//Tablets
{
}
@media (min-width: 1251px)//Laptops and up
{
}